{% load static from staticfiles %}
{% load ucbc %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UC Brew Club</title>

    <style type="text/css">
      body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 200px;
      }

      .navbar-collapse {
          margin-top: 20px;
      }

      img.resize{
        width: auto;
        height: auto;
      }

      table > tbody > tr > td[class*="col-"] {
        vertical-align: middle;
      }

      #footer_contents {
        padding-top: 10px;
      }

      #footer {
        min-height: 40px;
      }

    </style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body>
  {% block body %}

  {% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" style="width: auto">
          <a href="/">
            <img class="img-responsive resize" src="{% static 'logo_med.png' %}">
          </a>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div style="color: #ffffff; padding-top: 30px"><h1>University of Canterbury Brew Club</h1></div>
          </div>

          <div class="row">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li{% if request.path == '/' %} class="active"{% endif %}>
                  <a href="/">Home</a>
                </li>
                <li {% if '/orders' in request.path %} class="active"{% endif %} class="dropdown" id="ordersmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'order_grain' %}">Grains</a>
                    </li>
                    <li>
                      <a href="{% url 'order_hops' %}">Hops</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="{% url 'supplier_order_list' %}">Supplier Orders</a>
                    </li>
                    <li class="divider"></li>

                    <li>
                      <a href="{% url 'orders.views.main' %}">About</a>
                    </li>
                  </ul>
                <li class="dropdown{% if '/howto' in request.path %} active{% endif %}" id="howtomenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">How-tos<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'howto' 'howto.kit' %}">Kit brewing</a>
                    </li>
                    <li>
                      <a href="{% url 'howto' 'howto.extract' %}">Extract</a>
                    </li>
                  </ul>
                </li>
                </li>
                {% if request.user.is_staff %}
                <li>
                  <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li>

                {% if user.is_authenticated %}

                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if request.user.first_name %}
                      {{ request.user.first_name }}
                    {% else %}
                      {{ request.user.username }}
                    {% endif %}
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'logout' %}">Log out</a>
                    </li>
                  </ul>
                {% else %}
                  <a href="{% url 'login' %}">Log in</a>
                {% endif %}
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="wrap">
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
  </div>

    <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-inner navbar-content-center">
        <div class="row-fluid" id="footer_contents">
          <div class="col-md-6 col-md-offset-3">
            <div class="row-fluid">
              <div class="col-sm-4">
                <a href="mailto:admin@ucbc.org.nz">Contact Us</a>
              </div>
              <div class="col-sm-4">
                <a href="https://www.facebook.com/groups/ucbrewclub/">Facebook</a>
              </div>
              <div class="col-sm-4">
                <p class="text-muted">v{% version %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  {% endblock %}
  </body>

</html>


