{% extends "base.html" %}
{% load currency %}

{% block container %}

<div class="row">
  <div class="col-md-8">
    {% block ingredients %}
    <h3>{{ title }}</h3>
    <form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}
      <table class="table">
        <thead>
          <tr class="row">
            <th class="col-md-7">Name</th>
            <th class="col-md-4">Cost (NZD) Excl. GST</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
          <tr class="row">
            <td class="col-md-7">{{ form.ingredient.name }}</td>
            <td class="col-md-4">{{ form.ingredient.unit_cost|currency }} per {{ form.ingredient.unit_size }}</td>
            <td class="col-md-1">
              {{ form.quantity.errors }}
              {{ form.quantity }}
            </td>
          </tr>
          {% endfor %}
          <tr class="row">
            <td class="col-md-7"/>
            <td class="col-md-4">
            </td>
            <td class="col-md-1">
              <button type="submit" class="btn btn-default btn-sm">Add</button>
            </td>
          </tr>
        </tbody>
        </table>
      </form>
    {% endblock %}
  </div>

  {% block cart %}
  <div class="col-md-4">
    {% include 'orders/cart.html' with cart_title='My Order' %}
  </div>
  {% endblock %}

</div>
{% endblock %}