{% extends "base.html" %}
{% load flatblock_tags %}

{% block container %}

<h3>About</h3>
{% flatblock "orders.about" %}

{% if user.is_authenticated %}

To get started, start adding some <a href="{% url 'order_grain' %}">Grains</a> or
<a href="{% url 'order_hops' %}">Hops</a> to your order.

{% else %}

<p class="text-error">
  If you're a UCBC member you need to
  <b><a href="{% url 'login' %}">sign in</a></b> with your credentials before you can place an
  order for grains or hops.
</p>

{% endif %}

{% endblock %}
