{% extends "admin/change_form.html" %}
{% load orders %}
{% load currency %}

{% block after_field_sets %}

<h3>Brief Summary</h3>

<div class="module">
  <table class="table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    {% for name, value in original.summary.items %}
      <tr>
        <td>{{ name }}</td>
        {% ingredient_id name as id_ %}
        {% unit_size_plural id_ value.0 as quantity %}
        <td>{{ quantity }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'supplier_order_summary_csv' original.id %}">As CSV</a>

</div>


{% endblock %}
